[Unit]
Description=Synchronize system clock to PTP hardware clock
After=network.target

[Service]
Type=exec
ExecStart=/usr/sbin/phc2sys -f /etc/linuxptp/phc2sys.conf -s eth1 -c CLOCK_REALTIME -w
Restart=on-failure
RestartSec=2
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=83
CPUAffinity=2

[Install]
WantedBy=multi-user.target