[Unit]
Description=ts2phc disciplining eth1 from GPS NMEA+PPS
After=gpspipe-socat.service
Requires=gpspipe-socat.service

[Service]
Type=simple
# for full logging, enable this instead, but its a lot of logs
#ExecStart=/usr/sbin/ts2phc -s nmea -c eth1 -f /etc/linuxptp/ts2phc-gps.cfg -m -l 7
ExecStart=/bin/sh -c '\
  /usr/sbin/ts2phc -q -s nmea -c eth1 -f /etc/linuxptp/ts2phc-gps.cfg -m -l 7 \
    2>&1 | grep --line-buffered -Ev "nmea sentence|nmea delay"' 
CPUSchedulingPolicy=rr
CPUSchedulingPriority=98
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

