[Unit]
Description=Synchronize system clock to PTP hardware clock

[Service]
ExecStart=/usr/sbin/phc2sys -r -s /dev/ptp1 -c CLOCK_REALTIME -w
CPUSchedulingPolicy=rr
CPUSchedulingPriority=98
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
