[Unit]
Description=ptp4l Client Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/ptp4l -f /etc/linuxptp/ptp4l-auto-client.conf -i eth1 
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
