[Unit]
Description=Precision Time Protocol (PTP) service
After=ts2phc-gps.service
Requires=ts2phc-gps.service


[Service]
ExecStart=/usr/sbin/ptp4l -i eth1 -m -2 -P
CPUSchedulingPolicy=rr
CPUSchedulingPriority=98
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
